@import 'swiper/css';
@import 'swiper/css/thumbs';
@import 'swiper/css/free-mode';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

:root {
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-inactive-color: transparent;
}
.swiper-pagination-bullet {
  border: 1px solid #676974 !important;
}
.swiper-pagination-bullet-active {
  border: 0px !important;
}

/* any thing inside will be dark */
.blue-overlay {
  position: relative;
}

.blue-overlay::after {
  content: '';
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  @apply bg-[#010412]/80;
}


.text-container {
  height: 200px;
}

@media (min-width: 768px) { /* Adjust the breakpoint as needed */
  .text-container {
    height: auto;
  }
}

@media (max-width: 1000px) {
  .mobile-flex {
    flex-direction: column;
  }
  .mobile-flex > div {
    width: 100% !important;
  }
}

@keyframes expandContract {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); /* Adjust this value to control the amount of expansion */
  }
}

@keyframes expandContractDiensten {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03); /* Adjust this value to control the amount of expansion */
  }
}


@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-20px); /* Adjust this value to control the amount of upward movement */
  }
}

.hero-bg-animate {
  animation: expandContract 5s infinite; /* 5s is the duration, adjust as needed */
}

.hero-1-min-animate {
  animation: moveUpDown 3.5s infinite; /* 3s is the duration, adjust as needed */
}

.diensten-animate {
  animation: expandContractDiensten 5s infinite; /* 5s is the duration, adjust as needed */
}

.mission-bg-1-animate {
  animation: expandContract 5s infinite; /* 5s is the duration, adjust as needed */
}

.mission-bg-2-animate {
  animation: expandContract 4s infinite; /* 5s is the duration, adjust as needed */
}

.mission-bg-3-animate {
  animation: moveUpDown 5s infinite; /* 5s is the duration, adjust as needed */
}

.mission-bg-4-animate {
  animation: moveUpDown 3s infinite; /* 5s is the duration, adjust as needed */
}

.custom-heading-2 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.1rem;
  letter-spacing: 0.025em;
  font-weight: bold;
  color: #121212;
  margin-bottom: 15px;
  margin-top: 50px;
}


.custom-heading-3 {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: 0.025em;
  font-weight: bold;
  color: #121212;
  margin-bottom: 15px;
  margin-top: 50px;
}

.custom-heading-4 {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: 0.025em;
  font-weight: bold;
  color: #121212;
  margin-bottom: 15px;
  margin-top: 50px;
}

.custom-heading-5 {
  font-size: 1.15rem;
  font-weight: 600;
  line-height: 1.75rem;
  letter-spacing: 0.025em;
  font-weight: 600;
  color: #121212;
  margin-bottom: 15px;
  margin-top: 20px;
}
